
%h3 The social place to get stuff done

-if !current_user.nil?
  %h3
    Here's what your friends are up to #{@user.full_name}
  -@user.friendships.each do |friendship|
    -friend = User.find(friendship.friend_id)
    %h4
      %a{:href => '/users/' + friend.id.to_s}=friend.full_name
      has the following tasks to complete
    -friend.tasks.each do |task|
      %a{:href => '/tasks/' + task.id.to_s}=task.tname
      -if task.pending? && task.friend_id == current_user.id
        %br
        Request to join pending
        %br
        %br
      -elsif task.approved? && task.friend_id == current_user.id
        You've been approved!
      -else
        %form{:action => "/taskrequest/" + task.id.to_s, :method => "post"}
          %button.btn.btn-small Request to be added
        %br

