!!!
%html
  %head
    %link{:href => "/bootstrap.min.css", :type => "text/css", :rel => "stylesheet"}
    %title
      Sh*t to do 
  %body
    .span4.offset2
      %h1 Hello!
      %ul
        %li 
          %a{:href => '/about'} About
        %li
          %a{:href => '/'} Home 
        %li 
          %a{:href => '/signin'} Sign In
        %li
          %a{:href => '/signout'} Sign Out 
        %li
          %a{:href => '/signup'} Sign Up
        %li 
          %a{:href => '/tasks'} My Tasks
        %li
          %a{:href => '/profile'} Profile
        =yield 

