-if @user == current_user
  %h1
    Hi #{@user.full_name}
    %br

    %form{:action => "/users/#{@user.id}/addtask"}
      %button.btn.btn-large Add a task

  %h3
    Here are the things you still have left to do
  -@user.tasks.each do |task|
    -if task.completed.nil?
      %h3
        %a{:href => '/tasks/' + task.id.to_s}=task.tname
      %form{:action => "/#{task.id}/completetask", :method => "post"}
        %button.btn.btn-small Completed
      %a{:href => '/tasks/' + task.id.to_s}
        %button.btn.btn-small View Details
      %br
  %h3
    Here are your recently completed tasks
  -@user.tasks.each do |task|
    -if !task.completed.nil?
      %h3
        %a{:href => '/tasks/' + task.id.to_s}=task.tname
      %a{:href => '/tasks/' + task.id.to_s}
        %button.btn.btn-small View Details
      %br
      %h5
        Completed At
        =task.completed_at
      %br
-else
  %h1
    =@user.full_name
  %form{:action => "/users/addfriend"}
    %button.btn.btn-large Add Friend



