%h1
  =@task.tname.capitalize
%h3
  Description
=@task.tdisc
%h3
  Location
=@task.location
%h3
  Created At
=@task.created_at.strftime("%B %d, %Y at %I:%M %P")
-if !@task.completed_at.nil?
  %h3 
    Completed At
  =@task.completed_at.strftime("%B %d, %Y at %I:%M %P")